name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: gradle jar

      - uses: actions/upload-artifact@v4
        with:
          name: DeadEnderChest
          path: build/libs/DeadEnderChest.jar
